.step_container {
  margin: 2rem 0;
}
.event_title_section {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.event_title_section h1 {
  font-size: 1rem;
  cursor: default;
}
.event_type_input {
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid var(--black-color);
  background: transparent;
  padding: 0.5rem;
  outline: none;
  width: 15rem;
  font-family: "Montserrat", sans-serif;
}
.edit_icon {
  font-size: 1.2rem;
  color: var(--grey-color);
  cursor: pointer;
}
.event_input_section_one {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
}
.event_input_section_two {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.check_icon {
  font-size: 1.2rem;
  color: var(--primary-color);
  cursor: pointer;
}
.cancel_icon {
  font-size: 1.2rem;
  color: var(--red-color);
  cursor: pointer;
}
.mid_container {
  margin-top: 1rem;
}
.event_type_section {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.event_type_section h1 {
  font-size: 1rem;
  cursor: default;
}
.event_type_section p {
  cursor: pointer;
}
.event_type_section .custom-tooltip {
  background: var(--primary-color);
}
