.container {
  max-height: 100vh;
  height: 100vh;
  background: url("../../../public/assets/svg/contact_us_bg.svg") no-repeat
    center center fixed;
  background-color: #075bed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section {
  background-color: var(--white-color);
  width: 65%;
  border-radius: 0.5rem;
  display: flex;
}
.left_section {
  width: 50%;
  height: auto;
  background-color: aqua;
}
.contact_us_side_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.right_section {
}
.contact_us_heading {
}
