.container {
  margin-top: 2rem;
}
.first_section h1 {
  text-transform: capitalize;
  font-size: 1.1rem;
}
.product_section {
  margin-top: 1rem;
}
.product_card_section {
  padding: 1rem 0;
  overflow-x: auto;
}
.table_container {
  white-space: nowrap;
  border-spacing: 0;
  border: 1px solid var(--black-color);
}
.table_container th {
  padding: 0.5rem;
  font-size: 1rem;
  text-align: left;
}
.product_headers {
  height: 7rem;
  width: 10rem;
}
.product_headers h2 {
  font-size: 1rem;
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}
.product_headers p {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--black-color);
}
.product_sub_headers {
  font-size: 1rem;
  color: var(--black-color);
}
.table_container th,
.table_container td {
  padding: 0.5rem;
  text-align: left;
  border: 1px solid var(--black-color);
}
.no_available_text {
  font-size: 1rem;
  font-weight: bold;
}
.available_text {
  font-size: 1rem;
  font-weight: bold;
}
.vendor_name {
  color: var(--primary-color);
}
.vendor_price,
.total_price {
  font-size: 0.9rem;
  font-weight: 500;
}
