.container {
  max-height: 100vh;
  height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
}
.section_one {
  background: url("../../../public/assets/svg/sign_up_bg.svg");
  background-color: var(--bg-color);
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 5rem;
}
.header_text {
  color: var(--white-color);
  font-size: 4rem;
}
.header_text span {
  color: #03c3ff;
}
.sub_heading {
  margin-top: 1rem;
  font-size: 2rem;
  color: var(--white-color);
}
.rect_icon {
  width: 2rem;
  height: 0.7rem;
  border-radius: 0.6rem;
  background-color: #d9d9d9;
  margin-right: 0.5rem;
}
.section_main ul {
  margin-top: 1rem;
}
.section_main ul li {
  padding: 1rem 0;
  font-size: 1.2rem;
  color: var(--white-color);
  display: flex;
  align-items: center;
  list-style-type: none;
}
.section_two {
  width: 40%;
  background-color: var(--white-color);
}
